*{
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 600px){
    .brand-logo{
        margin-left: 0 !important;
    }
    #technology{
        min-height:50vh !important;
    }
    #name{
        font-size: 3.3em !important;
    }
    #title{
        font-size: 2.5em !important;
    }
    .abouttext{
        font-size: 1.08em !important;
    }
    .projtitle{
        text-align: center !important;
    }
    #projecttitle{
        text-align: center !important;
    }
    .projgif{
        width: 100% !important;
    }
    .parallax-container{
        height: 20vh !important;
    }
}

/*removing scrollbar space*/
body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body::-webkit-scrollbar { 
    width: 0 !important;
}
#main{
    overflow-x: hidden;
    background-image: url("images/header.png");
}
#main::-webkit-scrollbar { 
    width: 0 !important; 
}
.blackfont{
    color:black !important;
    transition: color 0.5s ease;
}
.whitefont{
    color: white !important;
    transition: color 0.5s ease;
    text-shadow: -1px 0  black, 0 1px  black, 1px 0  black, 0 -1px  black;
}
.engineer{
    color: #ffff66 !important;
    text-shadow: -1px 0  black, 0 1px  black, 1px 0  black, 0 -1px  black;
}
.blue-grey-font{
    color: #607d8b;
    font-weight: bold;
}
.clear{
    background-color: #cfd8dc;
    /*box-shadow: none !important;*/
    transition: background-color 0.5s ease;
}
.blue-grey{
    opacity: 1 !important;
    transition: background-color 0.5s ease;
}
nav{
    background-color: transparent !important;
    transition: background-color 0.5s ease;
    
}
.side-nav{
    z-index: 11;
}
.navtitle{
    font-size: 1.6em;
}
.navlink{
    font-family: 'Raleway', sans-serif;
}
.brand-logo{
    margin-left: 25px;
}
@font-face {
    font-family: questrial;
    src: url('../fonts/Questrial-Regular.ttf');
}
.questrial{
    font-family: questrial;
}
.raleway{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}
#name{
    font-size: 6em;
    font-weight: 600;
    margin-top: 22%;
}
#title{
    font-size: 5em;
    font-weight: 600;
}
.vis {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s ease;
}
.banner-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s ease;
}
#banner{
    height: 110vh !important;
}
#parallax-one, #parallax-two, #parallax-three{
    height: 230px;
}
#about, #technology{
    height: auto;
}
#technology{
    border-bottom-style: inset;
}
#projects{
    height: auto;
}
#abouttxtdiv{
    margin-bottom: 5%;
}
#aboutpictures{
    opacity: 0;
}
.header{
    font-weight: 500 !important;
}
.abouttext{
    font-size: 1.2em;
}
.abouttextscroll{
    opacity:0;
}
.abtpicdiv{
    margin-bottom: 5%;
}
.about-picture{
    width: 100%;
    border-radius: 50%;
}
#techtitle{
    font-size: 3.2em;
}
#techdescript{
    font-size: 1.2em;
}
#techimgs{
    opacity: 0;
}
.techscroll{
    opacity:0;
}
.techrow{
    margin-top: 10%;
}
.techimg{
    width:100%;
}
.projtitlescroll, .projscroll{
    opacity: 0;
}
#projectdescript{
    font-size: 1.2em;
}
#getout {
    height: auto;
    /*border-bottom-style: groove;*/
}
.projimg{
    box-shadow: 10px 10px 5px black;
    border-radius: 7px;
    width: 10cm;
}
.projtext{
    margin-bottom: 5%;
}
.project-link{
    width: 100%;
    max-width: 100px;
}
#contactimgs{
    opacity: 0;
}
.contactdiv{
    height: auto;
}
.contactlink{
    text-decoration: none;
}
.contactimg{
    width: 120% !important;
    max-width: 120px;
}